#navbar {
  cursor: alias;
  height: 100%;
  width: 20%;
}

body {
  background-color: #393939;
}

#title {
  z-index: 265;
  top: 30%;
  font-size: 80px;
  color:#E0E0E0;
  font-family: 'Dosis', sans-serif;
}

.panel-default {
  width: 20%;
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
}
